/* Following the nord theme for the User Interface */
:root {
  --background-light: #2e3440;
  --cell-background-light: #4c566a;
}

body {
  background-color: var(--background-light);
  color: #d8dee9;
  font-family: "Courier New", monospace;
}

.table-container {
  background-color: var(--cell-background-light);
}

table {
  color: #2e3440;
  width: 100%;
}

th,
td {
  background-color: #d8dee9;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #d8dee9;
}

tr:nth-child(even) td {
  background-color: #eceff4;
}

tr[data-selectable] td,
tr[data-selectable] th {
  cursor: pointer;
}

tr:hover td {
  background-color: #8FBCBB;
}

.search-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #d8dee9;
  border-radius: 5px;
  width: 50%; /* Adjust the width as needed */
  font-size: 14px;
  color: #2e3440;
  background-color: #eceff4;
  margin-left: 10px; /* Add left margin */
  margin-right: 10px; /* Add right margin */
  transition: width 0.3s; /* Add smooth transition for width change */
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 4px #81a1c1;
  width: 70%
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add top margin */
}

.copy-button,
.copy-selected-button,
.disclaimer-button,
.copy-filtered-data,
.share-report-button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
  background-color: #5e81ac;
  color: #eceff4;
}


.copy-button:hover,
.copy-selected-button:hover,
.disclaimer-button:hover,
.copy-filtered-data:hover,
.share-report-button:hover {
  background-color: #88c0d0;
}

.disclaimer-button {
    background-color: #5e81ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 10px;
}

.disclaimer-popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: #2e3440; /* Adjust background color to match nord theme */
	width: 50%;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    color: #eceff4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.popup-header {
    font-size: 48px;
	color: #BF616A;
    font-weight: bold;
    margin-bottom: 15px;
	text-align: center;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    cursor: pointer;
}

.collapsible {
  background-color: #4c566a;
  color: #eceff4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: background-color 0.4s;
  overflow: hidden;
}

.collapsible.expanded {
  background-color: #A3BE8C;
  transition: background-color 0.1s;
}

.active,
.collapsible:hover {
  background-color: #5e81ac;
}

.collapsible.expanded:hover {
  background-color: #A3BE8C;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #2e3440;
}

.main-header-text,
h1,
h2 {
  text-align: center;
  color: #eceff4;
  font-size: 64px;
}

.go-top-button {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  border: none; 
  outline: none; 
  background-color: #3498db;
  cursor: pointer; 
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s; 
}

.go-top-button:hover {
  background-color: #2980b9;
}

.nested {
  margin-left: 20px;
  padding: 0;
  list-style: none;
  font-weight: normal;
}

tr[data-selectable] {
  cursor: pointer;
}

tr[data-selectable]:hover {
  background-color: #5e81ac;
}

input[type="checkbox"] {
  cursor: pointer;
}
.content {
    display: none;
}

.content.expanded {
    display: block;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.collapsible-checkbox {
    margin-right: 10px;
}

.popup {
	display: none;
}